<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />


    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="AI와 함께하는 생활"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication"
            android:usesCleartextTraffic="true"
            android:enableOnBackInvokedCallback="true"
            tools:targetApi="31">
        <receiver android:name=".book.ResetCountReceiver"
                  android:enabled="true"
                  android:exported="true">
        </receiver>
        <receiver
                android:name=".screen.ScreenOnReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".aladdin.WebActivity" />
        <activity
                android:name=".aladdin.AladdinMainActivity" />
        <activity
                android:name=".MyInfo"
                android:exported="false" />
        <activity
                android:name=".ChatGpt"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".book.BookMainActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustPan" />

        <service android:name=".screen.MyForegroundService"
                 android:exported="false"/>

        <activity android:name=".screen.lockscreen" />

        <receiver
                android:name=".screen.BootCompletedReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>